footer {
    background-color: rgb(246, 249, 111);
    padding:2%;
    text-align: center;
    font-size: 1.1em;
    padding:2%;
    border: 4px black solid;
    border-radius: 15px;
    margin:2%;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.7);
    text-shadow: 4px 4px 8px rgba(249, 248, 248, 0.7);
}

@media (max-width:600px) {
    footer {font-size: 0.9em;}
}